<%= simple_form_for(@job) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, as: :string  %>
    <%= f.input :description %>
    <%= f.input :company_name, as: :string %>
    <%= f.input :url, as: :url %>
    <%= f.input :start_date, as: :date %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
